@page "/todo"

@using global::ToDoList.App
@using global::ToDoList.DTO
@inject LocalStorageAccessor LocalStorageAccessor
@inject HttpClient Http

<PageTitle>Todo</PageTitle>

<h1>Todo</h1>
@foreach(TodoTask item in tasks) {
    <p><input type="checkbox" @bind="item.IsComplete" @onclick="SaveAsync" /> @item</p>
}
<input type="text" @bind="TaskText" />
<button class="btn btn-primary" @onclick="AddTaskAsync">Add</button>

@code {
    private List<TodoTask> tasks = new();
    private string? TaskText {get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(firstRender) {
            tasks = await Http.GetFromJsonAsync<List<TodoTask>>("http://localhost:5238/api/TodoItems");
            StateHasChanged();
        }
    }

    private async Task SaveAsync() {
        // ESTO TA FEO, NO HACER
        await Task.Delay(1);
        await LocalStorageAccessor.SetValueAsync<List<TodoTask>>("todos", tasks);
    }

    private async Task AddTaskAsync() {
        tasks.Add(new TodoTask { Name = TaskText });
        await LocalStorageAccessor.SetValueAsync<List<TodoTask>>("todos", tasks);
        TaskText = "";
    }
}
